body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center ;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

#reset-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
;
}

#reset-btn:hover {
    background-color: #d32f2f;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
